hr {
	border-color: black;
}

.table .table-header div { background: silver; }
.table .table-row div { display: inline-block; }
.table .table-col1 { width: 20%; }
.table .table-col2 { width: 50%; }
.table .table-col3 { width: 28%; }